.ps-pagination {
  flex-basis: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  &--item {
    padding: 5px 10px !important;
    margin: 2px;
    font-size: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__selected {
      background-color: white !important;
      border: 3px solid $primary-color !important;
      color: $primary-color !important;
    }
  }
}
