.pc-grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &--pic {
    border: 5px solid #fff;
    flex-basis: 19%;
    height: auto;

    &:hover {
      border: 5px solid #00c78a;
    }
  }

  &--image {
    width: 100%;
    height: auto;
  }
}
