.ps-grid {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    padding-top: 30px;
  }

  &--pic {
    border-bottom: 5px solid #fff;
    flex-basis: 20%;
    height: auto;
    margin-bottom: 30px;

    &:hover {
      border-bottom: 5px solid $primary-color;
    }
  }

  &--image {
    width: 100%;
    height: auto;
  }
}
