.ps-header {
  background-color: $primary-color;

  &--navbar {
    background-color: $primary-color !important;
  }

  &--logo {
    font-family: Quicksand;
    text-transform: none;
    font-weight: bold;
    font-size: 24px;
  }

  &--logo__beta {
    font-size: 10px;
  }

  &--logo,
  &--navigation-item {
    color: #fff !important;

    &:hover {
      color: $primary-color !important;
    }
  }
}
